/************************************

COLORS

blue:         #579EF5;
dark blue:    #4A87D1;

dark grey:    #333333;
medium grey:  #595959;
light grey:   #8f8f8f;
lighter grey: #dfdfdf;

************************************/

/************************************
COMMON STYLES
************************************/

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  border: 1px solid #8f8f8f;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

body {
  color: #595959;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body > header nav ul,
.article-meta ul,
footer[role='main'] ul,
.pager {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

a {
  color: #579EF5;
  text-decoration: none;
}

a:hover {
  color: #4A87D1;
}

.well-container {
  overflow: hidden;
}

.well {
  background-color: #000;
  color: #8f8f8f;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid $darkGrey;
  border-radius: 3px;
}

p code {
  display: inline-block;
  padding: 2px 3px;
  background-color: #f5f5f5;
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  font-size: 0.9rem;
}

.lineno {
  border-right: 1px solid #c5c5c5;
}



/************************************
MAIN HEADER
************************************/

header[role='main'] {
  background-color: #579EF5;
  margin: 0;
  padding: 0;
}

header[role='main'] .container > a {
  text-shadow: 1px 2px 0 #4A87D1;
  transition: .6s ease;
}

header[role='main'] .container > a:hover {
  text-shadow: 2px 4px 0 #4A87D1;
}

header[role='main'] h1 {
  color: #fff;
  font-weight: 300;
  margin: 0;
  padding: 20px 0;
  text-align: center;
  transition: .6s ease;
}

header[role='main'] h1 span {
  color: #dfdfdf;
}

header[role='main'] a {
  color: #fff;
  text-decoration: none;
}

header[role='main'] a:hover {
  color: #fff;
}

header[role='main'] nav {
  margin: 20px 0 0;
  padding-bottom: 20px;
  text-align: center;
}

header[role='main'] nav li {
  display: inline-block;
}

header[role='main'] nav li a {
  font-weight: 800;
  padding: 15px 10px;
}



/************************************
ARTICLES
************************************/

.article-container {
  font-family: serif;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px 60px;
}

.article-meta {
  color: #999;
  font-size: 0.875rem;
  font-style: italic;
}

.article-meta ul {
  margin: 60px 0 0;
}

.article-title {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 0;
  padding: 0;
}

.article-title.large {
  font-size: 1.75rem;
  margin-top: 60px;
}



/************************************
PAGINATION
************************************/

.pager {
  border-top: 1px solid #8f8f8f;
  overflow: hidden;
  margin: 30px 0 0;
  padding-top: 60px;
}

.pager .disabled a {
  color: #8f8f8f;
  cursor: default;
}

.pager .previous {
  float: left;
}

.pager .next {
  float: right;
}




/************************************
FOOTER
************************************/

footer[role='main'] {
  background-color: #333;
  color: #dfdfdf;
  padding: 20px;
}

footer[role='main'] .container {
  margin: 0 auto;
  max-width: 960px;
}

footer[role='main'] li {
  padding: 0 0 10px;
}

footer[role='main'] a:hover {
  text-decoration: underline;
}