/*
 * Typography
 *===================================================
 */

/* body text */
p {
  color: #555;
  font-family: serif;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 1.6rem 0;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

.highlight {
  margin: 40px 0 40px;
}

p + h2,
.highlight + h2 {
  margin-top: 50px;
}