---
layout: default
title: The Path to Ruby Enlightenment&#58; Ruby Koans
tags:
  ["tips", "ruby", "koans", "learning"]
blurb: Want to learn Ruby in a whole new way? How about learning to test while you're at it? Ruby Koans is the answer you have been seeking.
published: true
categories:
  ["tips"]
comments: true
---

<article>
  {% include page_header.html %}
  <p>
    A few days ago I was rummaging through my RSS feeds and <a href='http://teachmetocode.com/screencasts/ruby-koans/' target="_blank">I came across an
    article</a> that was discussing the Zen path to Ruby enlightenment. What the
    author was referring to was a new approach to learning Ruby called 
    <a href='http://rubykoans.com/' target="_blank">Ruby Koans</a>.
  </p>
  <p>
    The idea is to teach the pupil Ruby by walking them through a series of 
    tests (literally, they are test files) and having them meditate on the
    answer for each test case. If you have provided the correct answer the tests
    pass, if not then you must "meditate" longer on the solution until the 
    correct answer is provided.
  </p>
  <p>
    The following comes directly from the <a href='http://rubykoans.com/' target="_blank">Ruby Koans</a>
    website:
    <blockquote>
      The Koans walk you along the path to enlightenment in order to learn 
      Ruby. The goal is to learn the Ruby language, syntax, structure, and 
      some common functions and libraries. We also teach you culture. Testing 
      is not just something we pay lip service to, but something we live. It 
      is essential in your quest to learn and do great things in the language.
    </blockquote>
  </p>
  <p>
    Whether you are new to Ruby or you have been working with it since the
    beginning, I highly recommend taking a look at <a href='http://rubykoans.com/' target="_blank">Ruby Koans</a>.
  </p>
  
  {% include article_footer.html %}
</article>