---
layout: default
title: Fixing Your iPhone Home Button
tags:
  ["tips", "iphone", "tech"]
blurb: Does your iPhone home button seem to have a mind of it's own? Not working like it should? Here's a quick tip on re-calibrating it.
published: true
categories:
  ["tips"]
comments: true
---

<article>
  {% include page_header.html %}
  <p>
    <ol>
      <li>Open any application on your phone</li>
      <li>Press and hold the on/off button till the "Turn off iPhone" slider appears</li>
      <li>Press and hold the home button until you are returned to the apps screen (home screen)</li>
      <li>Enjoy your re-calibrated home button</li>
    </ol>
  </p>
  
  {% include article_footer.html %}
</article>