---
layout: default
title: Tis the Season
tags:
  ["articles", "holidays"]
blurb: 
  I can't believe it, but it's here. The Holiday Season is upon us and it's 
  that time of year when schedules get crazy, family members get crazier and
  life get's turned upside down.
published: true
categories:
  ["articles"]
comments: true
---

<article>
  {% include page_header.html %}
  
  <p>
    The lights. The tree. The parties. The packing. The driving. The family.
  </p>
  
  <p>
    I'm not sure where 2011 went, but it's almost gone.
  </p>
  
  <p>
    For the most part, I look back on this year with a smile. I started a new
    job, met some new friends, attended some conferences, and redesigned my blog.
    Well, I did more than that but this is a highlight reel, not a full-length
    feature.
  </p>
  
  <p>
    Over the next weeks, I will be moving at warp speed and 2012 will be here in the
    blink of an eye. But I'm looking forward to it. I'm in my 30's now and there
    is still a lot I want to accomplish. I'm not where I thought I would be, but
    hey, that's life.
  </p>
  
  <p>
    If I can only have one resolution for next year, then it will be this: I
    want to be more <strong>active</strong>. Not just from a physical stand-point either. I look
    back at the past year and I see too many times where I just sort of...coasted
    by. I was there, but not really present.
  </p>
  
  <p>
    I want 2012 to be a year where I am actively engaged in my life. Spending
    less time channel surfing and more time actually doing something. I want to
    talk less about how I "should get in touch with friends or family more" and
    actually get in touch with friends and family more. I want to stop saying I
    "need to be better about blogging" and actually be more active in researching
    and writing posts. I want to stop saying I "need to be in a better financial spot"
    and be more active in achieving that goal.
  </p>
  
  <p>
    Basically, I need to stop making excuses and be more active in doing the
    things I want. Take charge. Be the person I want to be.
  </p>
  
  <p>
    Less talk. More action. That is what 2012 is going to be for me.
  </p>
  
  {% include article_footer.html %}
</article>