---
layout: default
title: Drivers in Houston are Assholes
tags:
  ["rants", "texas", "houston", "driving"]
blurb: 
  If you live in Houston and you own a vehicle you belong to one of two camps&#58; 
  people who know how to obey traffic laws and people who think you should go 
  fuck yourself for being on their road.
published: true
categories:
  ["rants"]
comments: true
---

<article>
  {% include page_header.html %}
  <p>
    Driving in Houston has to be one of the most stressful things I do on a daily
    basis. It's almost as if people get behind the wheel of their car, inject
    themselves with 15ml of testosterone and become the most aggressive, un-aware
    people on the planet.
  </p>
  <p>
    I've lived and traveled to some of the most populated cities and nowhere
    does driving compare to the white-knuckle nightmare that I experience in Houston.
    I am typically a pretty laid back person. But being on the roads in this city
    sets my blood pressure to levels that would horrify most physicians.
  </p>
  <p>
    I get that we are in "the south", home of the outlaw mentality,
    but common sense should still exist. Street
    signs are ignored, speed limits are a joke and don't even bother with turn
    signals. The common approach to advancing down the road is to cut-off the
    person in the lane next to you...even if there is a mile of clear road in
    the lane you were just in before attempting to sheer off the bumper of
    the vehicle in the other lane.
  </p>
  <p>
    Not in a turn lane? Don't worry about it. Just cut across 6 lanes of traffic
    to make a right turn. Coming to the end of your lane? Please, by all means
    wait till the very last possibly second and then cut into another lane with
    sadistic abandon for the safety of anyone else. I mean really? It's their fault
    for being in your way, right? WRONG, YOU STUPID SONOFABITCH.
  </p>
  <p>
    Oh, and don't worry about waiting till you are out of your car and there
    is no chance of you killing someone with a 2 ton blunt object traveling at
    80 miles an hour. Just take out your cell phone and text your friends, family,
    baby mamma, drug dealer, or boo. Why make a phone call? I mean, it's not like
    you should have your eyes on the road or anything. All you're doing is driving.
  </p>
  <p>
    Here's a question; do you know what pedestrian is? Did you know that
    they should have the right-of-way? Well, not in Houston. If you are walking
    across the street, apparently you are open game for anyone if a vehicle
    because they will run you down. How dare you get in their way. Can't you
    see how busy they are driving 20 miles-per-hour over the speed limit, texting their boss,
    and shaving or putting on make-up on? The nerve of you to walk in a designated zone
    and expect them to stop for you.
  </p>
  <p>
    If you drive aggressively and think you are getting to your destination
    faster I have news for you, you aren't. If anything you are the cause of the
    traffic jams. When you cut someone off you set off a chain reaction where
    15 people behind you have to slam on their brakes bringing traffic to a
    grinding, screeching halt. And for what? So you can get a few feet further?
  </p>
  <p>
    All I'm asking is that we try and pull our heads out of our asses and try
    something crazy; actually driving  like we are supposed to. You will be
    amazed at how much smoother things will run.
  </p>
  
  {% include article_footer.html %}
</article>