<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>SchmidtHappens | {{ page.title }}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/pygments-friendly.css">

	<script src="/js/libs/modernizr-2.0.min.js"></script>
	<script src="/js/libs/respond.min.js"></script>
</head>
<body>
	
  <div id="wrap">
    <div id="wrap-inner">
      <header role="banner">
        <h1><a href="/">Schmidt<span>Happens</span></a></h1>
        <nav role="navigation">
          <ul class="group">
            <li id="n-articles">
              <a href='/articles.html'>
                <strong>
                  Articles <em>Thoughts Expanded</em>
                </strong>
              </a>
            </li>
            <li id="n-tips">
              <a href='/tips.html'>
                <strong>
                  Tips <em>Tiny Bytes</em>
                </strong>
              </a>
            </li>
            <li id="n-rants">
              <a href='/rants.html'>
                <strong>
                  Rants <em>Good, Bad or Ugly</em>
                </strong>
              </a>
            </li>
            <li id="n-about">
              <a href='/about.html'>
                <strong>
                  About <em>Who Am I?</em>
                </strong>
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <div id="main" role="main">
        {{ content }}
        
        {% if page.comments %}
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
            var disqus_shortname = 'schmidthappensgh'; // required: replace example with your forum shortname

            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
        {% endif %}
      </div> <!-- end #main -->
    </div> <!-- end #wrap-inner -->
    <footer role="main">
      <section class="comp about main">
        <header>
          <h1>Sometimes...schmidt happens</h1>
        </header>
        <p>
          Schmidt<span>Happens</span> is the personal blog of Terry Schmidt. Here you will
          find articles on programming, design, culture and life. Explore.
          Enjoy. Spread the word.
        </p>
      </section>
      <section class="comp bookshelf alt">
        <header>
          <h1>Currently on my bookshelf</h1>
        </header>
        <ul>
          <li class="aba bk1">
            <a href="http://www.abookapart.com/products/html5-for-web-designers" title="A Book Apart: HTML5 for Web Designers">
              <span class="book title">HTML5 for Web Designers</span>
              <span class="book author">by Jeremy Kieth</span>
            </a>
          </li>
          <li class="aba bk2">
            <a href="http://www.abookapart.com/products/css3-for-web-designers" title="A Book Apart: CSS3 for Web Designers">
              <span class="book title">CSS3 for Web Designers</span>
              <span class="book author">by Dan Cederholm</span>
            </a>
          </li>
          <li class="aba bk3">
            <a href="http://www.abookapart.com/products/the-elements-of-content-strategy" title="A Book Apart: The Elements of Content Strategy">
              <span class="book title">The Elements of Content Strategy</span>
              <span class="book author">by Erin Kissane</span>
            </a>
          </li>
          <li class="aba bk4">
            <a href="http://www.abookapart.com/products/responsive-web-design" title="A Book Apart: Responsive Web Design">
              <span class="book title">Responsive Web Design</span>
              <span class="book author">by Ethan Marcotte</span>
            </a>
          </li>
        </ul>
      </section>
      <section class="comp resources">
        <header>
          <h1>Sites &amp; Resources</h1>
        </header>
        <ul>
          <li><a href="http://www.fontsquirrel.com/">Font Squirrel <span>Handpicked fonts for graphic designers</span></a></li>
        </ul>
      </section>
      <section class="comp touchme extra">
        <header>
          <h1>Stalk Me</h1>
        </header>
        <ul>
          <li class="twitter"><a target="_blank" href="http://twitter.com/tschmidt">@tschmidt</a></li>
          <li class="twitter"><a target="_blank" href="http://twitter.com/linkluv">@linkluv</a></li>
          <li class="spotify"><a target="_blank" href="http://open.spotify.com/user/t.schmidt">spotify:t.schmidt</a></li>
          <li class="github"><a target="_blank" href="http://github.com/tschmidt">github:tschmidt</a></li>
        </ul>
      </section>
    </footer>
  </div> <!-- end #wrap -->
	
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.2.min.js"><\/script>')</script>

<!-- scripts concatenated and minified via ant build script-->
<script src="js/plugins.js"></script>
<script src="js/script.js"></script>
<!-- end scripts-->

<script>
	var _gaq=[['_setAccount','UA-26092524-1'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<!--[if lt IE 7 ]>
	<script src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
	<script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
<![endif]-->

</body>
</html>
